{% extends 'fixed_content.jinja' %}
{% import 'ui/form.jinja' as form %}

{% block page_content %}
  {{ super() }}
  <div class="row">
    <div class="span6 offset3">
      <section>
        <header>
          <h3>Login</h3>
        </header>
        <form method="POST" action="{{ url_for('user_login') }}">
          {{ login_form.hidden_tag() }}
          {{ form.input(login_form.username, autofocus="autofocus") }}
          {{ form.input(login_form.password) }}
          <div>
            <div class="pull-left" style="padding-top: 4px;">
              {% if config.ENABLE_SIGNUP %}
                <small>Don't have an account? <a href="{{ url_for('user_signup') }}">Sign Up.</a></small>
              {% else %}
                <small>New accounts are currently disabled.</small>
              {% endif %}
            </div>
            <div class="pull-right">
              <button type="submit" class="btn btn-primary">Login</button>
            </div>
          </div>
        </form>
      </section>
    </div>
  </div>
{% endblock page_content %}