{% extends "no_sidebar.html" %}
{% from 'ui/project.html' import render_project_list %}

{% block style %}
  {{ super() }}
  <style>
  .c-project {
    width: 100% !important;
  }
  .c-messages, .c-hooks, .c-channels {
    text-align: center !important;
  }
  </style>
{% endblock %}

{% block content_page %}
<div class="section-box">
  <h3>Projects</h3>
  <ul class="inline">
    <li>
      <i class="icon-envelope"></i> {{ total_messages }}<br />
      <small class="muted"># of messages</small>
    </li>
    <li>
      <i class="icon-reorder"></i> {{ projects.count() }}<br />
      <small class="muted"># of projects</small>
    </li>
    <li>
      <i class="icon-calendar"></i> {{ user.joined|pretty_date }}<br />
      <small class="muted">joined</small>
    </li>
  </ul>
  {% if can_modify %}
  <ul class="inline">
    <li>
      <a href="{{ url_for('.new_project', username=user.username) }}" class="btn btn-flat btn-success">
        <i class="icon-plus"></i> New Project
      </a>
    </li>
    <li>
      <a href="#" class="btn btn-flat btn-info"><i class="icon-github"></i> Sync with Github</a>
    </li>
  </ul>
  {% endif %}
  {% if not projects.count() %}
  {# This user doesn't have any projects yet. #}
    {% if can_modify %}
    <div class="alert alert-info alert-block">
      <h4>Hey there!</h4>
      You don't have any projects yet.
    </div>
    {% else %}
    <div class="alert alert-info alert-block">
      <h4>Hey there!</h4>
      This user doesn't have any public projects.
    </div>
    {% endif %}
  {% else %}
  <div class="row-fluid">
    <div class="span12 section">
      {{ render_project_list(projects) }}      
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}