@import "mixins.less";

html, body {
  height: 100%;
  background-color: #f1f1f1;
  background-image: url(/img/gray_jean.png);
}

html, body, p {
  font-family: 'Open Sans', sans-serif;
}

.table-vertical td {
  vertical-align: middle;
  border-top: none;
}

.btn,
.alert,
.square,
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  .border-radius(0px);
}

.btn-flat {
    filter:progid:DXImageTransform.Microsoft.Gradient(enabled='false');
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-image:none;
    border:0;
}

form {
  .form-actions {
    background: transparent;
  }

  .required {
    color: red;
  }
}

.table-square {
  border: 1px solid #ddd;
}

[class^="icon-"] {
  margin-top: 3px;
}

.btn-mini {
  [class^="icon-"] {
    margin-top: 1px;
  }
}

ul.inline,
ol.inline {
  margin-left: 0;
  list-style: none;
}

ul.inline > li,
ol.inline > li {
  display: inline-block;
  *display: inline;
  padding-right: 5px;
  *zoom: 1;
}

.content {
  padding-bottom: 20px;

  .content_main {
    .content_page {
      // Fix the padding
      .contents {
        padding: 0 20px 12px 20px;
      }

      h1, h2, h3, h4, h5 {
        font-weight: 200;
        text-transform: uppercase;
      }
    }
  }
}

/*
 * Landing page components.
 */

.btn-signup {
  .buttonBackground(#E74C3C, #E74C3C);
}

.top-network,
.recent-project {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 8px;

  &:nth-child(odd) {
    background-color: #f5f5f5;
  }
}

/*
 * My-Projects page components.
 */
.user-project {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;

  &:nth-child(even) {
    background-color: #f5f5f5;
  }

  .buttons {
    display: none;
    padding-right: 20px;
  }

  &:hover {
    .buttons {
      display: block;
    }
  }
}

.section-box {
  h3 {
    text-transform: uppercase;
    padding-bottom: 10px;
    font-weight: 200;
    margin-bottom: 0;
  }

  .section {
    background: white;
    border: 1px solid #ccc;
    padding: 20px;
  }
}

/*
 * Site header navbar.
 */
 
.navbar {
  margin-bottom: 4px;

  .navbar-inner {
    filter:progid:DXImageTransform.Microsoft.Gradient(enabled='false');
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-image: none;
    background-color: white;
    .border-radius(0px);

    .nav > .active > a,
    .nav > .active > a:hover,
    .nav > .active > a:focus {
      color: #e74c3c;
      background-color: transparent;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }
}