{% extends "fluid_content.jinja" %}
{% from "ui/query.jinja" import render_pagination %}

{% block head_css %}
  {{ super() }}
  <link href="/css/typeahead.min.css" rel="stylesheet">
  <style>
    input.tt-hint,
    input.search-dashboard {
      margin-bottom: 0;
      margin-top: 4px;
    }
  </style>
{% endblock head_css %}

{% block body_js %}
{{ super() }}
<script src="/js/typeahead.min.js"></script>
<script type="text/javascript">
  $('input.search-dashboard').typeahead({
    name: 'projects',
    remote: '{{ url_for("projects_private_search") }}?q=%QUERY'
  });
</script>
{% endblock %}

{% block page_content %}

<div class="row-fluid" style="padding-bottom: 8px;">
  <div class="span12">
    <div class="block">
      <div class="pull-left">
        <ul class="nav nav-pills" style="margin-bottom: 0;">
          <li><a href="{{ url_for('projects_new') }}"><i class="icon-plus"></i> New Project</a></li>
          <li><a href="#"><i class="icon-github-alt"></i> Import From Github</a></li>
        </ul>
      </div>
      <div class="pull-right">
        <form action="{{ url_for('projects_dashboard') }}" method="GET" class="search-form">
          <div class="search-box">
            <input name="q" type="text" class="input-large search-query search-dashboard" autofocus="autofocus">
            <div class="icon-search"></div>
            <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
          </div>
        </form>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <div class="big-block">
      <h2>Projects ({{ projects.total }})</h2>
      {% if projects.total == 0 %}
      <div class="alert">
        You don't have any projects yet. You can import your projects from <a href="#"><i class="icon-github-alt"></i> github</a> or
        <a href="{{ url_for('projects_new') }}">create them from scratch</a>.
      </div>
      {% else %}
        {% for project in projects.items %}
        <div class="project">
          {% if not project.public %}
          <i class="icon-lock icon-2x pull-left icon-muted"></i>
          {% endif %}
          <div class="pull-left">
            <div class="name">
              <a href="#">{{ project.name }}</a>
            </div>
            <div class="desc">
              <small>Created {{ project.created|pretty }}</small>
            </div>
          </div>
          <div class="metric pull-right">
            <i class="icon-envelope"></i> {{ project.message_count }}
          </div>
          <div class="clearfix"></div>
        </div>
        {% endfor %}
        {{ render_pagination(projects, 'projects_dashboard') }}
      </div>
    {% endif %}
  </div>
</div>
{% endblock page_content %}