{% extends "no_sidebar.html" %}

{% block content_page %}
<h1>FAQ</h1>
<dl>
  <dt>Q. Can I use Notifico for private projects?</dt>
  <dd>
    You bet you can! You can mark projects and channels as private when you create them.
    Messages from private projects will not have their contents logged and will not
    show up for anyone but yourself and the admins.
  </dd>
  <dt>Q. How much does it cost?</dt>
  <dd>
    Absolutely nothing! If you want to help, why not knock a ticket off the
    <a href="https://github.com/TkTech/notifico/issues?state=open">issue tracker</a>?
  </dd>
  <dt>Q. Can I sync with Github?</dt>
  <dd>
    Yup! Notifico can sync with github, importing your projects and setting up
    hooks on Github automatically.
  </dd>
  <dt>Q. Can I run a copy myself (such as inside the company firewall)?</dt>
  <dd>
    Yup! You can <a href="https://github.com/TkTech/notifico">grab the source</a> and
    get it running in a few minutes.
  </dd>
</dl>
{% endblock %}