{% extends "no_sidebar.html" %}

{% block content_page %}
<div class="landing-unit">
  <h1>Notifico!</h1>
  <p class="lead">
    Notifico is an <a href="https://github.com/TkTech/notifico">open-source</a> replacement for the now-defunct <a href="http://cia.vc">cia.vc</a> service. Notifico receives messages from services (such as github) and tools (such as a command line script) and delivers them to IRC channels.
  </p>
  {% if not g.user %}
  <p><a class="btn btn-success btn-large" href="{{ url_for('account.register') }}">Sign Up!</a></p>
  <p><small class="muted">Already have an account? <a href="{{ url_for('account.login') }}">Login</a> instead.</small></p>
  {% endif %}
</div>
<div class="row-fluid">
  <div class="span6">
    <h3>Newest Projects</h3>
    {% for project in recent_projects %}
    <div class="recent-project odds">
      {{ project.owner.username }}/{{ project.name }}
      <small class="muted">Created {{ project.created | pretty_date }}</small>
    </div>
    {% endfor %}
  </div>
  <div class="span6">
    <h3>Popular Networks</h3>
    {% for network in top_networks %}
    <div class="top-network odds">
      {{ network.host }}
      <small class="muted">{{ network.count | plural('{v} channel', '{v} channels')}}</small>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}