{% extends "no_sidebar.html" %}

{% block content_page %}
{% if not g.user %}
<div class="landing-unit">
  <div class="section-box">
  <h1>Notifico!</h1>
  <div class="section">
    <p class="lead">
      Notifico is an <a href="https://github.com/TkTech/notifico">open-source</a> replacement for the now-defunct <a href="http://cia.vc">cia.vc</a> service. Notifico receives messages from services (such as github & bitbucket) and delivers them to IRC channels.
    </p>
    <p><a class="btn btn-success btn-flat btn-large" href="{{ url_for('account.register') }}">Sign Up!</a></p>
    <p><small class="muted">Already have an account? <a href="{{ url_for('account.login') }}">Login</a> instead.</small></p>
  </div>
</div>
{% endif %}
<div class="row-fluid">
  <div class="span6 section-box">
    <h3>Newest Projects</h3>
    <div class="section">
      {% for project in recent_projects %}
      <div class="recent-project odds">
        {{ project.owner.username }}/{{ project.name }}
        <small class="muted">Created {{ project.created | pretty_date }}</small>
      </div>
      {% endfor %}
      <br />
      <a href="{{ url_for('.all_projects') }}" class="btn btn-info btn-flat">View All {{ total_projects }} Projects</a>
    </div>
  </div>
  <div class="span6 section-box">
    <h3>Popular Networks</h3>
    <div class="section">
      {% for network in top_networks %}
      <div class="top-network odds">
        {{ network.host }}
        <small class="muted">{{ network.count | plural('{v} channel', '{v} channels')}}</small>
      </div>
      {% endfor %}
      <br />
      <a href="#" class="btn btn-info btn-flat">View All Networks</a>
    </div>
  </div>
</div>
{% endblock %}