{% extends "no_sidebar.html" %}

{% block content_page %}
<div class="landing-unit">
  <h1>Notifico!</h1>
  <p class="lead">
    Notifico is an <a href="https://github.com/TkTech/notifico">open-source</a> replacement for the now-defunct <a href="http://cia.vc">cia.vc</a> service. Notifico receives messages from services (such as github) and tools (such as a command line script) and delivers them to IRC channels.
  </p>
  {% if not g.user %}
  <p><a class="btn btn-success btn-large" href="{{ url_for('account.register') }}">Sign Up!</a></p>
  <p><small class="muted">Already have an account? <a href="{{ url_for('account.login') }}">Login</a> instead.</small></p>
  {% endif %}
</div>
<h2>FAQ</h2>
<dl>
  <dt>Q. Can I use Notifico for private projects?</dt>
  <dd>
    You bet you can! You can mark projects and channels as private when you create them.
    Messages from private projects will not have their contents logged and will not
    show up for anyone but yourself and the admins.
  </dd>
  <dt>Q. How much does it cost?</dt>
  <dd>
    Absolutely nothing! If you want to help, why not knock a ticket off the
    <a href="https://github.com/TkTech/notifico/issues?state=open">issue tracker</a>?
  </dd>
  <dt>Q. Can I sync with Github?</dt>
  <dd>
    Yup! Notifico can sync with github, importing your projects and setting up
    hooks on Github automatically.
  </dd>
  <dt>Q. Can I run a copy myself (such as inside the company firewall)?</dt>
  <dd>
    Yup! You can <a href="https://github.com/TkTech/notifico">grab the source</a> and
    get it running in a few minutes.
  </dd>
</dl>
<div class="row-fluid">
  <div class="span6">
    <h3>Newest Projects</h3>
    {% for project in recent_projects %}
    <div class="recent-project odds">
      {{ project.owner.username }}/{{ project.name }}
      <small class="muted">Created {{ project.created | pretty_date }}</small>
    </div>
    {% endfor %}
  </div>
  <div class="span6">
    <h3>Popular Networks</h3>
    {% for network in top_networks %}
    <div class="top-network odds">
      {{ network.host }}
      <small class="muted">{{ network.count | plural('{v} channel', '{v} channels')}}</small>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}