{% macro repo_link(project) %}
{% if not project.public %}
<i class="icon-lock"></i>
{% endif %}
<a href="{{ url_for('projects.dashboard', u=project.owner.username) }}">
  {{ project.owner.username }}
</a> / <a href="{{ url_for('projects.details', u=project.owner.username, p=project.name) }}">
  {{ project.name }}
</a>
{% endmacro %}
{% macro active(end) %}
{% if request.endpoint.startswith(end) %}active{% endif %}
{% endmacro %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page_title|default('Notifico!') }}</title>
    <meta name="description" content="">
    <meta name="author" content="Tyler Kennedy">

    <link href="/css/bootstrap.css?v=3" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    {% block style %}
    {% endblock style %}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% if config.GOOGLE %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ config.GOOGLE }}']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    {% endif %}
  </head>

  <body>
    <div class="sidebar span2">
      <header>
        <h1>Notifico!</h1>
      </header>
      <div class="sidebar-content">
        <div class="sidebar-nav nav nav-list">
          <li class="active">
            <a href="{{ url_for('public.landing') }}">
              <i class="icon-home"></i>Welcome!
            </a>
          </li>
          <li>
            <a href="#">
              <i class="icon-group"></i> Network Status
            </a>
          </li>
          <li class="divider"></li>
          {% if not g.user %}
          {# No user is logged in so show the public account menu. #}
          <li>
            <a href="{{ url_for('account.register') }}">
              <i class="icon-plus"></i> Sign Up
            </a>
          </li>
          <li>
            <a href="{{ url_for('account.login') }}">
              <i class="icon-signin"></i>Login
            </a>
          </li>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="content">
      <div class="container-fluid">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="row-fluid">
          <div class="span12">
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
              {{ message }}
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock content %}
      </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/jquery-1.8.3.min.js"><\/script>')</script>
    <script src="/js/bootstrap.js"></script>
    {% block script %}
    <script>
      $(function(){
          // Focus on the username box, but only if
          // the user hasn't already focused on something else.
          if($(document.activeElement).is('body')) {
              $('.focus').focus();
          }

          $('.current_year').text(new Date().getFullYear());
      });
    </script>
    {% endblock %}
  </body>
</html>
