{% extends "base.jinja" %}

{% block body_content %}
  {{ super() }}
  {% include "nav.jinja" %}
  
  <div class="container-fluid page-content">
    {% block page_content %}
    {% endblock page_content %}
  </div>
{% endblock body_content %}